<h1 class="text-center font-bold text-3xl pt-5 pb-4">New User</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.user_path(@conn, :create)) %>

<span class="font-bold text-yellow-600"><%= link "Back", to: Routes.user_path(@conn, :index) %></span>
