<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="w-2/3 mx-auto p-2 content-center rounded-xl bg-gray-700 m-1 text-gray-700">
    
    <%= text_input f, :body %>
    <%= error_tag f, :body %>

  </div>
  <div class="font-bold text-yellow-600">
    <%= submit "Save" %>
  </div>
<% end %>
