<h1 class="text-center font-bold text-5xl pt-5 pb-4">Edit Post</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.timeline_post_path(@conn, :update, @post)) %>

<span><%= link "Back", to: Routes.timeline_post_path(@conn, :index) %></span>
